body {
    background: linear-gradient(#FFFFFF, #FDF6ED);
}

.admin-container {
    display: flex;
    height: 100vh;
    align-items: center; 
    justify-content: center;
}

.admin {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.brand-logo img {
    max-width: 240px;
    object-fit: contain;
    margin-top: -6rem;
    margin-bottom: 1.5rem;
}

.login-container {
    width: 100%;
}

.login-form {
    width: 100%;
    min-width: 450px;
    text-align: center;
    background: #fff;
    margin-bottom: 1.5rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.login {
    color: #FFF;
}

.admin-icon i {
    color: #FFF;
    font-size: 4rem;
    margin-bottom: 0.5rem;
}

.admin-icon {
    display: flex;
    padding: 1rem;
    align-items: center;
    margin: 0 auto 1rem;
    flex-direction: column;
    background: linear-gradient( #19579C, #102E50);
}

.form-group-container {
    padding: 0.5rem 2.7rem 0.5rem 2.7rem;
} 

.form-group {
    width: 100%;
    display: flex;
    margin-top: 1rem;
    border-radius: 4px;
    background: #fff;
    align-items: center;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    transition: border-color 0.4s ease, box-shadow 0.3s ease;
}

.form-group:hover {
    border-color: #00246c;
    box-shadow: 0 0 6px rgba(42, 101, 221, 0.5);
}

.form-group input {
    flex: 1;
    border: none;
    outline: none;
}

.form-group input:focus {
    outline: none;
    box-shadow: none;
}

.form-group:focus {
    border-color: #2A65DD;
    box-shadow: 0 0 4px rgba(42, 101, 221, 0.5);
}

/* Eye icon */
.form-group i {
    cursor: pointer;
    font-size: 19px;
    color: #333446;
}

.input-field {
    font-family: 'Poppins', sans-serif;
}

.forgot-password {
    margin-top: 1rem;
    margin-bottom: 0.6rem;
}

.forgot-password-link {
    color: red; 
    font-size: 0.95rem;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.submit-btn {
    width: 100%;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    background: #2A65DD;
    font-family: 'Poppins', sans-serif;
}

.submit-btn a {
    color: #fff;
    text-decoration: none;
}

.create-account {
    margin: 0 auto;
}

.create-account a {
    color: #2A65DD;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.create-account p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.errorBox {
    display: none; 
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    margin-top: 12px;
    color: #b30000;
    padding: 10px 14px;
    background-color: #ffe6e6;
    border: 1px solid #ff4d4d;
    font-family: 'Poppins', sans-serif;
    animation: fadeIn 0.3s ease-in-out;
}

.errorBox.success {
    color: #006622 !important;
    background-color: #e6ffed !important;
    border: 1px solid #33cc66 !important;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to   { opacity: 1; transform: translateY(0); }
}
