.event-content {
    margin: 2rem;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

.header h2 {
    margin: 0;
    font-size: 1.5rem;
}

.add-btn {
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    font-size: 0.9rem;
    padding: 10px 16px;
    border-radius: 6px;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #007bff, #0056d2);
}

.add-btn:hover {
    background-color: #125ca1;
}

.events-container {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}

.events-container {
    gap: 2rem;
    display: flex;
    margin-top: 2rem;
}

.event-type-card {
    width: 280px;
    color: #2a2a2a;
    position: relative;
    padding: 2rem 1rem;
    text-align: center;
    border-radius: 16px;
    box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
}

.menu-dots {
    top: 12px;
    right: 16px;
    color: #555;
    cursor: pointer;
    font-size: 1.2rem;
    position: absolute;
}

.event-type-text {
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    font-family: "Oswald", sans-serif;
}

.icon {
    width: 85px;
    height: 85px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin: 0 auto 1rem auto;
}

/* Wedding */
.event-type-card:nth-child(1) {
    background: linear-gradient(135deg, #F5E6E0, #E8D4CE);
}

.icon.wedding {
    background: #fff5f2;
}

/* Debut */
.event-type-card:nth-child(2) {
    background: linear-gradient(135deg, #E5DAE8, #CBB7D5);
}

.icon.debut {
    background: #f8f2f8;
}

/* Parties */
.event-type-card:nth-child(3) {
    color: #FFF;
    background: linear-gradient(135deg, #6B4E71, #8367C7);
}

.icon.parties {
    background: #fdf8f0;
}